.nav-container {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  background-color: rgba(72, 230, 230, 0.667);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.navigation {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-size: 1.8rem;
}

.navigation ul {
  list-style: none;
  margin: 0;
  display: flex;
  font-size: 1.8rem;
  width: 45%;
  justify-content: space-between;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
